<h1>Posts</h1>

<div id="posts">
  <%= render partial: 'form', locals: {author: current_user, post: Post.new } %>

  <% @posts.each do |post| %>
    <%= render post %>
    <%= link_to "Show this post", user_post_path(post.author, post) %>
  <% end %>
</div>
